<div class="card" style="width: 18rem;">
  <img src="assets/drac.jpg" class="card-img-top">

  <div class="card-body">
    <h5 class="card-title">Card title</h5>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    <a href="#" class="btn btn-primary">Go home</a>
  </div>
</div>
<div>
  <table class="table">
    <thead>
    <tr>
      <th scope="col">Sample pipe</th>
      <th scope="col">Before</th>
      <th scope="col">Pipe</th>
      <th scope="col">After</th>
    </tr>
    </thead>
    <tbody>
    <tr>
      <th scope="row">1</th>
      <td>{{ stringExample }}</td>
      <td>titlecase</td>
      <td> {{ stringExample | titlecase}}</td>
    </tr>
    </tbody>
  </table>
</div>
